@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

* {
  margin: 0;
  padding: 0;
}

.contenedor {
  width: 80%;
  margin: 0 auto; 
  display: flex;
  justify-content: center;
}

.barra-lateral-izquierda,
.barra-lateral-derecha {
  position: absolute;
  top: 8%;
  height: 100vh;
  width: 10%;
  background-color: #fff;
  padding: 20px;
}

.barra-lateral-izquierda {
  left: 0;
}

.barra-lateral-derecha {
  right: 0;
}

.contenido {
position: relative;
  width: 60%;
  background-color: #ccc;
  padding: 20px;
}

.contenedor_not {
  width: 75%;
  height: 100vh;
  margin-top: 7.2%;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.not_1 {
  position: relative;
  width: 65%;
  height: auto;
  margin: 20px;
  margin-top: 9.2%;
  border: 20px solid transparent;
  background-color: #72848b;
}

.not_2,
.not_3,
.not_4 {
  width: 65%;
  height: 180px;
  margin: 20px;
  margin-top: 4.5%;
  border: 20px solid transparent;
  background-color: #72848b;
}

.barra {
  position: absolute;
  width: 100%;
  height: 12%;
  background-color: #7d94ae;
}

.imagen {
  height: 80px;
}

h1 {
  position: absolute;
  top: 25px;
  right: 15px;
  color: #f2eef6;
}

.title {
  position: absolute;
  top: 25px;
  left: 120px;
}

.logo {
  height: 65px;
  width: 65px;
  position: absolute;
  top: 5px;
  left: 15px;
}

.formulario {
  position: absolute;
  top: -400px;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  width: 400px;
  background-color: #f4f8f9;
  border-radius: 20px;
  border: solid #6a7e98;
  opacity: 0;
  transition: top 1s ease, opacity 0.5s ease;
}

.active {
  top: 50%;
  opacity: 1;
}

#formularioNoticia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#formularioNoticia input,
#formularioNoticia textarea {
  width: 80%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

#formularioNoticia input:focus,
#formularioNoticia textarea:focus {
  outline: none;
  box-shadow: 0 0 5px 1px #6a7e98;
}

#contenidoNoticia{
  resize: vertical;
}
#editar,
#agregar {
  position: relative;
  margin-top: 10px;
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 1rem;
  width: 50%;
  cursor: pointer;
  background-color: #54657a;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
#editar,
#agregar:hover {
  background-color: #6a7e98;
}

#enviar {
  height: 50px; 
  width: 210px; 
  font-size: 14px; 
  margin-top: 200px; 
  margin-left: 0;
  margin-right: 0;
  border: none;
  border-radius: 5px;
  background-color: #7d94ae;
  color: #fff;
  cursor: pointer;
}

#enviar:hover {
  background-color: #8fa8bd;
}

#cerrar {
  height: 25px;
  width: 25px;
  position: absolute;
  top: 4px;
  right: 3px;
  cursor: pointer;
  font-size: 24px;
  border-radius: 50px;
  border-color: #6a7e98;
}

.editar {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.eliminar {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.saber_mas {
  position: relative; 
  margin-top: 10px; 
  display: block; 
  margin-bottom: 10px; 
  padding: 10px;
  font-size: 1rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 50px;
  width: 210px;
  cursor: pointer;
  text-align: center;
  background-color: #6a7e98;
  color: #fff;
}

h8{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 0.9rem;
  color: #333;
}

.saber_mas:hover {
  h8{
    color: #fff;
  }
  transform: scale(1.1);
}

.contenedor-botones {
  position: relative;
}

.boton-principal{
  position: relative; 
  margin-top: 10px; 
  display: block; 
  margin-bottom: 10px; 
  padding: 10px;
  font-size: 1rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 50px;
  width: 210px;
  cursor: pointer;
  text-align: center;
  background-color: #6a7e98;
  color: #fff;

}

.opciones {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #8fa8bd;
  border: 1px solid #54657a;
  border-radius: 5px;
  box-shadow: #6a7e98;
  padding: 5px;
  flex-direction: column; /* Organiza las opciones en columna */
}

.boton-principal:hover + .opciones,
.opciones:hover {
  display: flex; /* Muestra las opciones como flex */
  flex-direction: column; /* Organiza las opciones en columna */
}

.cuadro-grande {
  display: none; /* Por defecto oculto */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  max-width: 600px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: all 1s;
}

/* mostradno el saber mas de la noticia numero 3 */
.saber{
  display: block;
}


.contenido-cuadro p {
  margin-top: 10px;
  color: #666;
  text-align: justify;
}

.contenido-cuadro audio {
  margin-top: 10px;
  display: block; /* Centramos el audio */
  margin-left: auto;
  margin-right: auto;
  background-color: #54657a;
  padding: 10px; /* Espaciado interno para mejorar la apariencia */
}

.contenido-cuadro img {
  margin-top: 20px; /* Aumentamos el espacio superior */
  height: 250px;
  width: 300px;
  display: block; /* Centramos la imagen */
  margin-left: auto;
  margin-right: auto;
}

#cerrarCuadro{
  margin-top: 20px;
  background-color: #6a7e98;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
}

/* estilos de los cuadros de noticia */
h2{
  text-align: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.2rem;


}

/* estilos texto de los cuadros de noticia */
p{
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 8px;
  text-align: justify;
}

/* colores que se usaron para el proyecto */
colores {
  background-color: #aac0cf;
  background-color: #7d94ae;
  background-color: #f4f8f9;
  background-color: #6a7e98;
  background-color: #8fa8bd;
}
